* text=auto
*.R text eol=lf
*.r text eol=lf
*.sh text eol=lf
*.mjs text eol=lf
*.md text eol=lf
*.tex text eol=lf
*.bib text eol=lf
*.csv text eol=lf
*.txt text eol=lf
*.pdf binary
*.xlsx binary
*.png binary
*.zip binary
